.card-input-form {
  display: inline-block;
  width: 38%;
  background-color: rgba(255, 255, 255, 0.25);
  height: 700px;
  margin-top: 230px;
  border-radius: 30px;
  box-shadow: -2px 16px 40px -1px rgba(34, 60, 80, 0.2);
  text-align: start;
}

.card-input-form-zone {
  width: 100%;
  text-align: center;
  margin-top: -640px;
}

.card-expiration-date-cvv-zone {
  text-align: center;
}
