.cat {
  content: url("./images/cat.jpg");
}

.dog {
  content: url("./images/dog.jpg");
}

.kitty {
  content: url("./images/kitty.jpg");
}

.parrot {
  content: url("./images/parrot.jpg");
}

.cat-cover {
  background-image: url("./images/cat.jpg");
}

.dog-cover {
  background-image: url("./images/dog.jpg");
}

.kitty-cover {
  background-image: url("./images/kitty.jpg");
}

.parrot-cover {
  background-image: url("./images/parrot.jpg");
}



