.card-holder-input-field-title {
  display: inline-block;
  font-family: "CreditCard", serif;
  color: rgba(255,255,255,0.8);
  height: 50px;
  margin-top: 30px;
  margin-left: 35px;
  font-size: 23px;
}
