@font-face {
  font-family: "CreditCard";
  src: local("CreditCard"),
  url("./fonts/credit-card.otf") format("truetype");
}

:root {
  --cover-background: linear-gradient(270deg, #bc4ebd, #217aab);
}

html {
  background: var(--cover-background);
  /*background: var(--kitty-background);*/
  background-size: 400% 400%;

  transition-property: background;
  transition-duration: 1s;

  animation: animated-background 7s ease infinite;
}

@keyframes animated-background {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
